<!doctype html>
<html ng-app="tasker">
  <head>
    <meta charset="UTF-8">
    <script src="/static/3party/jquery-1.7.min.js"></script>
    <script src="/static/3party/select2.js"></script>
    <script src="/static/3party/moment.min.js"></script>
    <script src="/static/3party/angular.js"></script>
    <script src="/static/3party/angular-route.js"></script>
    <script src="/static/3party/angular-ui-router.js"></script>
    <script src="/static/3party/angular-sanitize.js"></script>
    <script src="/static/3party/angular-moment.js"></script>
    <script src="/static/3party/ng-table.js"></script>
    <script src="/static/3party/underscore.js"></script>
    <script src="/static/3party/restangular.js"></script>
    <script src="/static/3party/showdown.js"></script>
    <script src="/static/scripts/tasker.js"></script>
    <link href="/static/style/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="/static/style/bootflat.css" rel="stylesheet" type="text/css"/>
    <link href="/static/style/ng-table.css" rel="stylesheet" type="text/css"/>
    <link href="/static/style/select2.css" rel="stylesheet" type="text/css"/>
    <title>Das Organization!</title>
  </head>

  <body style="padding: 15px 35px 50px 35px" ng-controller="main">
    <h1>HouseTasker</h1>

<div class="panel">
  <ul id="tabs-title" class="nav nav-tabs nav-justified">
    <li ng-class="active == 'list' ? 'active' : ''">
      <a data-toggle="tab" ng-click="active = 'list'">TaskList</a>
    </li>
    <li ng-class="active == 'dep' ? 'active' : ''">
      <a data-toggle="tab" ng-click="active = 'dep'">Dependencies</a>
    </li>
    <li ng-class="active == 'time' ? 'active' : ''">
      <a data-toggle="tab" ng-click="active = 'time'">Timeline</a>
    </li>
    <li ng-class="active == 'todo' ? 'active' : ''">
      <a data-toggle="tab" ng-click="active = 'todo'">Todo</a>
    </li>
  </ul>

  <div id="tabs-content" class="tab-content">
    <div ng-class="active == 'list' ? 'active' : ''" class="tab-pane fade in">
      <button type="button" class="btn btn-success" ng-click="add_line()">
        Add task..
      </button>
      <table show-filter="true" ng-table="mngtable"
             class="table ng-table-responsive">
        <tbody>
          <tr ng-repeat="task in $data">
            <td>
              <button type="button" class="btn btn-success"
                      ng-click="save(task)" ng-if="task.dirty">
                save
              </button>
              <button type="button" class="btn btn-success"
                      ng-click="task.edit = true" ng-if="!task.edit">
                edit
              </button>
              <button type="button" class="btn btn-success"
                      ng-click="del(task)" ng-if="!task.dirty && !task.edit">
                x
              </button>
            </td>
            <td data-title="'floor'" sortable="'floor'"
                filter="{'floor': 'text'}">
              <span ng-if="!task.edit">
                {{ task.floor }}
              </span>
              <input class="form-control" placeholder="Floor" ng-if="task.edit"
                     ng-model="task.floor" ng-change="task.dirty = true">
            </td>
            <td data-title="'room'" sortable="'room'"
                filter="{'room': 'text'}">
              <span ng-if="!task.edit">
                {{ task.room }}
              </span>
              <input class="form-control" ng-model="task.room" ng-if="task.edit"
                     placeholder="Room" ng-change="task.dirty = true">
            </td>
            <td data-title="'name'" sortable="'name'"
                filter="{'name': 'text'}">
              <span ng-if="!task.edit">
                {{ task.name }}
              </span>
              <input class="form-control" ng-model="task.name" ng-if="task.edit"
                     placeholder="Name" ng-change="task.dirty = true">
            </td>
            <td data-title="'price'" sortable="'price'">
              <span ng-if="!task.edit">
                {{ task.price }}
              </span>
              <input class="form-control" placeholder="10€" ng-if="task.edit"
                     ng-change="task.dirty = true" ng-model="task.price">
            </td>
            <td data-title="'duration (h)'" sortable="'duration'">
              <span ng-if="!task.edit">
                {{ task.duration }}h
              </span>
              <input class="form-control" placeholder="2h" ng-if="task.edit"
                     ng-change="task.dirty = true" ng-model="task.duration">
            </td>
            <td data-title="'valid'" sortable="'valid'">
              <span ng-if="!task.edit">
                <span ng-if="task.valid">Yes</span>
                <span ng-if="!task.valid">No :(</span>
              </span>
              <input class="form-control" type="checkbox" ng-if="task.edit"
                     ng-change="task.dirty = true" ng-model="task.valid">
            </td>
            <td data-title="'description'">
              <span ng-if="!task.edit">
                {{ task.description|md }}
              </span>
              <textarea class="form-control" ng-if="task.edit"
                     ng-change="task.dirty = true" ng-model="task.description">
              </textarea>
            </td>
            <td data-title="'todo'">
              <ul ng-if="!task.edit">
                <li ng-repeat="do in todo">{{ do }}</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div ng-class="active == 'dep' ? 'active' : ''" class="tab-pane fade in">
      <h2>Dependencies</h2>
    </div>

    <div ng-class="active == 'time' ? 'active' : ''" class="tab-pane fade in">
      <h2>Timeline</h2>
    </div>

    <div ng-class="active == 'todo' ? 'active' : ''" class="tab-pane fade in">
      <h2>Todo</h2>
    </div>
  </div>
</div>

 
